body{
  margin:0;
  background-color: white;
}

/* ********************************************************************************* */
/* title */
/* ********************************************************************************* */
.main-title{
  background-image:url(images/cglist/main-title.png);
  background-size:cover;
  text-align:center;
  background-position: center;
  height:930px;
}

.main-title img{
  margin:40vh;
  padding:0 auto;
  display:inline-block;
}

.main-title h1{
  margin-top:10vh;
  display:inline-block;
  font-family:Pirata one;
  text-align:center;
}

.info{
  position: absolute;
  top:10px;
  left:95vw;
  text-decoration:none;
  text-align:center;
  width:20px;
  height:20px;
  float:right;
  color:gray;
  border:solid 2px gray;
  border-radius:50%;
}

/* ********************************************************************************* */
/* date */
/* ********************************************************************************* */
.date{
  text-align:center;
  color:rgb(255, 255, 255);
  display:inline-block;
  position:absolute;
  top:50px;
  position:fixed;
  margin-left:20px;
  height:50px;
  width:216px;
  background-image:url(images/icon/ttlTooSmall.png);
  background-size:cover;
  line-height: 53px;
}

/* ********************************************************************************* */
/* records */
/* ********************************************************************************* */
.records{
  text-align:center;
}
.record-list{
  padding-top:20px;
  text-align:center;
  overflow:hidden;
  background-image: url(images/cglist/bg-sao.jpg);
  background-size: cover;
  background-attachment:fixed;
  background-position: center;
}
.record-list img{
  width:100px;
  height:100px;
  margin-left:10px;
  border:solid 2px black;
  border-radius:10%;
  margin-top:5px;
  background-image: url(images/cglist/title_bg3.png);
  background-size: cover;
}

.records h1{
  font-family: impact;
  color:white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.5px;
}

#time-images,#sword-images,#rapier-images,#club-images,#dagger-images,#axe-images,#spear-images,#bow-images,#shield-images{
  display:inline-flex;
  flex-wrap:wrap;
  justify-content: center;
}



.consolid{
  margin-left:5px;
  width:114px;
  height:150px;
}
.consolid img{
  margin-left:5px;
}
.consolid p{
  color:gray;
  font-size:1px;
  text-align:center;
  margin-top:0;
}

.sword-box,.rapier-box,.club-box,.dagger-box,.axe-box,.spear-box,.bow-box,.shield-box{
  display:inline-block;
}

/* ********************************************************************************* */
/* records Animation */
/* ********************************************************************************* */

.isAnimation{
  animation:recordsAnimation 2s ease forwards;
}

@keyframes recordsAnimation{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}






/* ********************************************************************************* */
/* weapon button */
/* ********************************************************************************* */
  /* button style */
  .select-btn{
    float:left;
    /* height:1000vh; */
    text-align:center;
    cursor:auto;
    margin-left:10px;
    background-color:rgba(255,255,255,0.8);
    width:100vw;
  }

  .weapon-btn{
    height:60px;
    position:absolute;
    top:90%;
    position:fixed;
    width:100vw;
    z-index: 0;
  }

  .weapon{
    display: inline-block;
    width:50px;
    height:50px;
    border:solid 2px black;
    border-radius: 50%;
    transition:all 500ms 0s ease;
    margin-left:3%;
    cursor:pointer;
  }

  /* button animation */
  .weapon:hover{
    border:solid 2px red;
    animation: rotation 1s ease 0s 1 alternate none running;
  }

  .btn-color{
    border:solid 2px red;
  }

  @keyframes rotation {
    0% {
      transform: scale(.8);
    }

    100% {
      transform: scale(1) rotate(-360deg);
    }
  }



/* ********************************************************************************* */
/* opening text */
/* ********************************************************************************* */
.kaiten{
  height:100vh;
  width:100vw;
  background-color:#000;
  position:fixed;
  z-index: 9999;
}


.txt{
  font-size:80px;
  text-align:center;
  margin-top:45vh;
  color:white;
  display:none;
  font-family:Pirata one;
}

/* ********************************************************************************* */
/* loading circle animation */
/* ********************************************************************************* */
.haikei{
  background-color:rgb(0, 0, 0);
  /* background-color:black; */
  height:100vh;
  width:100vw;
  position:fixed;
  z-index: 9999;
}

.text{
  font-size:60px;
  position:absolute;
  top:60%;
  left:40%;
  color: rgb(255, 255, 255);
  /* display:none; */
}

.intersecting-circles-spinner, .intersecting-circles-spinner * {
      box-sizing: border-box;
    }

    .intersecting-circles-spinner {
      height: 100vh;
      width: 99vw;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* margin-top:50vh;
      margin-left:50vw; */
    }

    .intersecting-circles-spinner .spinnerBlock {
      animation: intersecting-circles-spinners-animation 1200ms linear infinite;
      transform-origin: center;
      display: block;
      height: 35px;
      width: 35px;
    }

    .intersecting-circles-spinner .circle {
      display: block;
      border: 2px solid rgb(90, 13, 13);
      border-radius: 50%;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .intersecting-circles-spinner .circle:nth-child(1) {
      left: 0;
      top: 0;
    }

    .intersecting-circles-spinner .circle:nth-child(2) {
      left: calc(35px * -0.36);
      top: calc(35px * 0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(3) {
      left: calc(35px * -0.36);
      top: calc(35px * -0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(4) {
      left: 0;
      top: calc(35px * -0.36);
    }

    .intersecting-circles-spinner .circle:nth-child(5) {
      left: calc(35px * 0.36);
      top: calc(35px * -0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(6) {
      left: calc(35px * 0.36);
      top: calc(35px * 0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(7) {
      left: 0;
      top: calc(35px * 0.36);
    }

    @keyframes intersecting-circles-spinners-animation {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }




/* ********************************************************************************* */
/* all modal */
/* ********************************************************************************* */

#all-modal{
  width:130px;
  height:250px;
  /* background-color:rgb(36,19,54); */
  background:silver;
  position:absolute;
  top:58%;
  left:84vw;
  border:solid 2px black;
  border-radius:3%;
  position:fixed;
}

#all-modal p{
  text-align:center;
  color:white;
  cursor:pointer;
}

.remove{
  display:none;
}
