.title{
  color:blue;
  /* display:none; */
  /* visibility:hidden; */
}
body{
  margin:0;
  background-color: #696969;
}

.record-list img{
  width:150px;
  height:150px;
}

.remove{
  display:none;
}

.select-btn{
  float:left;
  width:20%;
  height:1000vh;
  text-align:center;
  cursor:auto;
  margin-left:10px;
  background-color:rgba(255,255,255,0.8);
}

.weapon-btn{
  margin-top:30px;
  float:left;
  width:20%;
  height:1000px;
  text-align:center;
  cursor:auto;
  margin-left:15vh;
  /* position:fixed; */
}

.main-title{
  background-image:url(images/cg_0001.png);
  background-size:cover;
  text-align:center;
  height:100vh;
}

.main-title h1{
  margin-top:150px;
  display:inline-block;
  padding:30px 80px;
  background-color:rgba(255,255,255,0.8);
}





.weapon{
  display: inline-block;
  width:50px;
  height:50px;
  border:solid 2px black;
  border-radius: 50%;
  margin-left:10%;
  margin-right:10%;
  transition:all 500ms 0s ease;
}

.weapon:hover{
  border:solid 2px red;
  animation: rotation 1s ease 0s 1 alternate none running;
}

.btn-color{
  border:solid 2px red;
}


@keyframes rotation {
  0% {
    transform: scale(.8);
  }

  100% {
    transform: scale(1) rotate(-360deg);
  }
}

.loading{
  position:fixed;
  width:100vw;
  height:100vh;
  top:0px;
  left:0px;
  background:#fff;
  z-index:9999;
}
.animation{
  position:absolute;
  top:45%;
  left:20%;
  width:50px;
  height:50px;
  background-color:black;
  animation:loadingAnimation 1500ms ease;
}

.loading-txt{
  font-size:40px;
  position:absolute;
  top:30%;
  left:20%;
}
@keyframes loadingAnimation{
  0%{
    width:50px;
  }
  100%{
    width:800px;
  }
}

.open{
  position:fixed;
  width:100vw;
  height:100vh;
  background-color: rgba(255,255,255,1);
  animation:back 1500ms linear forwards;
  animation-delay:1600ms;
}
.open-img{
  /* position:absolute; */
  top:0;
  left:0;
  width:0vw;
  height:50vh;
  background-color:red;
  animation:opening 1500ms linear forwards;
  animation-delay:1600ms;
}

.open-img2{
  position:absolute;
  top:50vh;
  left:100vw;
  width:100vw;
  height:50vh;
  background-color:blue;
  animation:opening2 1500ms linear forwards;
  animation-delay:1600ms;
}

.open-txt{

  font-size:200px;
  float:left;
}

@keyframes opening{
  0%{
    width:0px;
  }
  50%{
    width:100vw;
  }
  80%{
    transform:rotate(0);
  }
  100%{
    transform:rotate(180);
  }
}

@keyframes opening2{
  0%{
    left:100vw;
  }
  50%{
    left:0vw;
  }
  80%{
    transform:rotate(0);
  }
  100%{
    transform:rotate(180);
  }
}

@keyframes back{
  0%{
    background-color: rgba(255,255,255,1);
  }
  60%{
    background-color: rgba(50,50,50,1);
  }
  100%{
    background-color: rgba(0,0,0,0);
  }
}

/* linkerAnimation */
/* .loading{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 9999;
}
.animation{
    position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
    -webkit-animation: lodanimetion 1500ms ease-out forwards infinite;
  animation: lodanimetion 1500ms ease-out forwards infinite;
}
@keyframes lodanimetion {
  from,to {
        opacity: 0;
        transform: translate(-40%, -40%);
  }
  50% {
        opacity: .5;
        transform: translate(-50%, -50%);
  }
} */
