body{
  margin:0;
  background-color: white;
}
/* ********************************************************************************* */
/* title */
/* ********************************************************************************* */
.main-title{
  background-image:url(images/opening/cg_0001.png);
  background-size:cover;
  text-align:center;
  height:100vh;
}

.main-title h1{
  margin-top:40vh;
  display:inline-block;
  padding:30px 80px;
  background-color:rgba(255,255,255,0.8);
  font-family:Pirata one;
}

/* ********************************************************************************* */
/* records */
/* ********************************************************************************* */
.record-list{
  height:1000vh;
  padding-top:20px;
  padding-left:10px;
}
.record-list img{
  width:100px;
  height:100px;
  margin-left:10px;
  border:solid 2px black;
  border-radius:10%;
  margin-top:5px;
}

/* ********************************************************************************* */
/* weapon button */
/* ********************************************************************************* */
  /* button style */
  .select-btn{
    float:left;
    /* height:1000vh; */
    text-align:center;
    cursor:auto;
    margin-left:10px;
    background-color:rgba(255,255,255,0.8);
    width:100vw;
  }

  .weapon-btn{
    height:60px;
    position:absolute;
    top:90%;
    position:fixed;
    width:100vw;
  }

  .weapon{
    display: inline-block;
    width:50px;
    height:50px;
    border:solid 2px black;
    border-radius: 50%;
    transition:all 500ms 0s ease;
    margin-left:3%;
    cursor:pointer;
  }

  /* button animation */
  .weapon:hover{
    border:solid 2px red;
    animation: rotation 1s ease 0s 1 alternate none running;
  }

  .btn-color{
    border:solid 2px red;
  }
  .remove{
    display:none;
  }

  @keyframes rotation {
    0% {
      transform: scale(.8);
    }

    100% {
      transform: scale(1) rotate(-360deg);
    }
  }

/* ********************************************************************************* */
/* loading animation */
/* ********************************************************************************* */
.loading{
  position:fixed;
  width:100vw;
  height:100vh;
  top:0px;
  left:0px;
  background:#fff;
}
.animation{
  position:absolute;
  top:45%;
  left:20%;
  width:50px;
  height:50px;
  background-color:black;
  animation:loadingAnimation 1500ms ease;
}

.loading-txt{
  font-size:40px;
  position:absolute;
  top:30%;
  left:20%;
}
@keyframes loadingAnimation{
  0%{
    width:50px;
  }
  100%{
    width:800px;
  }
}

/* ********************************************************************************* */
/* opening animation */
/* ********************************************************************************* */
/* .open{
  position:fixed;
  width:100vw;
  height:100vh;
  background-color: rgba(255,255,255,1);
  animation:back 1500ms linear forwards;
  animation-delay:1600ms;
}
.open-img,.open-img3,.open-img5,.open-img7,.open-img9{
  width:0vw;
  height:10vh;
  background-color:lightblue;
  animation:opening 1500ms linear forwards;
  animation-delay:1600ms;
}

.open-img2,.open-img4,.open-img6,.open-img8,.open-img10{
  width:100vw;
  height:10vh;
  background-color:sandybrown;
  animation:opening2 1500ms linear forwards;
  animation-delay:1600ms;
}

.open-img{
  position:absolute;
  top:0vh;
  left:0vw;
}
.open-img2{
  position:absolute;
  top:10vh;
  left:100vw;
}
.open-img3{
  position:absolute;
  top:20vh;
  left:0vw;
}
.open-img4{
  position:absolute;
  top:30vh;
  left:100vw;
}
.open-img5{
  position:absolute;
  top:40vh;
  left:0vw;
}
.open-img6{
  position:absolute;
  top:50vh;
  left:100vw;
}
.open-img7{
  position:absolute;
  top:60vh;
  left:0vw;
}
.open-img8{
  position:absolute;
  top:70vh;
  left:100vw;
}
.open-img9{
  position:absolute;
  top:80vh;
  left:0vw;
}
.open-img10{
  position:absolute;
  top:90vh;
  left:100vw;
}

@keyframes opening{
  0%{
    width:0px;
  }
  50%{
    width:100vw;
  }
  80%{
    transform:rotate(0);
  }
  100%{
    transform:rotate(180);
  }
} */

/* keyframes */
/* @keyframes opening2{
  0%{
    left:100vw;
  }
  50%{
    left:0vw;
  }
  80%{
    transform:rotate(0);
  }
  100%{
    transform:rotate(180);
  }
}

@keyframes back{
  0%{
    background-color: rgba(255,255,255,1);
  }
  60%{
    background-color: rgba(50,50,50,1);
  }
  100%{
    background-color: rgba(0,0,0,0);
  }
} */

/* ********************************************************************************* */
/* linkerAnimation */
/* ********************************************************************************* */
/* .loading{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 9999;
}
.animation{
    position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
    -webkit-animation: lodanimetion 1500ms ease-out forwards infinite;
  animation: lodanimetion 1500ms ease-out forwards infinite;
}
@keyframes lodanimetion {
  from,to {
        opacity: 0;
        transform: translate(-40%, -40%);
  }
  50% {
        opacity: .5;
        transform: translate(-50%, -50%);
  }
} */
/* ********************************************************************************* */

/* ********************************************************************************* */


/* ********************************************************************************* */
/* スライドショー */
/* ********************************************************************************* */
.kaiten{
  height:100vh;
  width:100vw;
  background-color:#000;
  position:fixed;
}

#slider {
  position: absolute;
  top: 15vh; left: 35vh;
  width: 900px; height: 500px;
}

.img {
  position: absolute;
  top: 0; left: 0;
  width: 0%; height: 100%;
  overflow: hidden;
}
.img:after {
  content: ""; display: block;
  width: 900px; height: 500px;
  background-size: cover;
  background-position: center;
}
.img:nth-child(1):after { background-image: url(images/opening/cg_0009.png); }
.img:nth-child(2):after { background-image: url(images/opening/cg_0019.png); }
.img:nth-child(3):after { background-image: url(images/opening/cg_0045.png); }
.img:nth-child(4):after { background-image: url(images/opening/cg_0077.png); }

.paint {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.paint div {
  width: 100%; height: 25%;
  background-color: #000;
  transform: translateX(-100%);
  /* opacity:0; */
}



 /* animation */

.img:nth-child(1) {
  animation: show-image 0.7s ease 2000ms forwards;
 }
.img:nth-child(2) {
  animation: show-image 0.7s ease 2200ms forwards;
 }
.img:nth-child(3) {
  animation: show-image 0.7s ease 2400ms forwards;
 }
.img:nth-child(4) {
  animation: show-image 0.7s ease 2600ms forwards;
 }

.paint div:nth-child(1) { animation: slide-right 0.45s ease 3100ms forwards; }
.paint div:nth-child(2) { animation: slide-right 0.45s ease 3200ms forwards; }
.paint div:nth-child(3) { animation: slide-right 0.45s ease 3300ms forwards; }
.paint div:nth-child(4) { animation: slide-right 0.45s ease 3400ms forwards; }


 /* keyframes */
@keyframes show-image {
  from { width: 0; }
  to   { width: 100%; }
}
@keyframes slide-right {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0%); }
}


.txt{
  font-size:80px;
  text-align:center;
  margin-top:45vh;
  color:white;
  display:none;
  font-family:Pirata one;
}

/* ********************************************************************************* */
/* loading circle animation */
/* ********************************************************************************* */
.haikei{
  background-color:rgb(36,19,54);
  /* background-color:black; */
  height:100vh;
  width:100vw;
  position:fixed;
}

.text{
  font-size:60px;
  position:absolute;
  top:60%;
  left:40%;
  color:white;
  /* display:none; */
}

.intersecting-circles-spinner, .intersecting-circles-spinner * {
      box-sizing: border-box;
    }

    .intersecting-circles-spinner {
      height: 100vh;
      width: 99vw;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* margin-top:50vh;
      margin-left:50vw; */
    }

    .intersecting-circles-spinner .spinnerBlock {
      animation: intersecting-circles-spinners-animation 1200ms linear infinite;
      transform-origin: center;
      display: block;
      height: 35px;
      width: 35px;
    }

    .intersecting-circles-spinner .circle {
      display: block;
      border: 2px solid #ff1d5e;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .intersecting-circles-spinner .circle:nth-child(1) {
      left: 0;
      top: 0;
    }

    .intersecting-circles-spinner .circle:nth-child(2) {
      left: calc(35px * -0.36);
      top: calc(35px * 0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(3) {
      left: calc(35px * -0.36);
      top: calc(35px * -0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(4) {
      left: 0;
      top: calc(35px * -0.36);
    }

    .intersecting-circles-spinner .circle:nth-child(5) {
      left: calc(35px * 0.36);
      top: calc(35px * -0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(6) {
      left: calc(35px * 0.36);
      top: calc(35px * 0.2);
    }

    .intersecting-circles-spinner .circle:nth-child(7) {
      left: 0;
      top: calc(35px * 0.36);
    }

    @keyframes intersecting-circles-spinners-animation {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }


/* ********************************************************************************* */
/* all modal */
/* ********************************************************************************* */

#all-modal{
  width:130px;
  height:250px;
  /* background-color:rgb(36,19,54); */
  background:silver;
  position:absolute;
  top:58%;
  left:84vw;
  border:solid 2px black;
  border-radius:3%;
  position:fixed;
}

#all-modal p{
  text-align:center;
  color:white;
  cursor:pointer;
}


/* details */
